* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.todo {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background: #f5feff;
}

.container {
  width: 377px;
  height: auto;
  border-radius: 6px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 12px 0px #00000029;
  background: white;
}

.text {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  text-align: center;
}

.input__text {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  padding: 8px 16px;
  border: 1px solid #e4e4e7;
}

.input__add {
  width: 59px;
  height: 40px;
  border-radius: 6px;
  border: none;
  padding: 8px 16px;
  background: #3c82f6;
  color: #f9f9f9;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
}

.input__add:hover {
  background: #33bdb3;
}

.show-container {
  width: 100%;
  display: flex;
  gap: 6px;
}

.show__all {
  width: 38px;
  height: 32px;
  border-radius: 6px;
  border: none;
  padding: 4px 12px;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #363636;
}

.show__all:hover {
  background: #3c82f6;
  color: white;
}

.show__active {
  width: 60px;
  height: 32px;
  border-radius: 6px;
  border: none;
  padding: 4px 12px;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #363636;
}

.show__active:hover {
  background: #3c82f6;
  color: white;
}

.show__completed {
  width: 87px;
  height: 32px;
  border-radius: 6px;
  border: none;
  padding: 4px 12px;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  color: #363636;
}

.show__completed:hover {
  background: #3c82f6;
  color: white;
}

.task-text {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  text-align: center;
  color: #6b7280;
}

.task-container {
  width: 345px;
  height: 62px;
  border-radius: 6px;
  padding: 16px;
  background: #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  margin-top: 20px;
}

.task-box {
  display: flex;
  gap: 10px;
}

.task__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #767676;
}

.task__text {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: black;
}

.task__text--complete {
  text-decoration: line-through;
}

.task__delete {
  width: 67px;
  height: 30pxs;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  background: #fef2f2;
  color: #ef4444;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
}

.task__delete:hover {
  background: #33bdb3;
  color: white;
}

.taskCompleted {
  width: 345px;
  height: 37px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e4e4e7;
  padding-top: 16px;
  padding-bottom: 4px;
}

.taskC__text {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #6b7280;
}

.taskC__delete {
  width: 109px;
  height: 17px;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #ef4444;
  border: none;
  background: none;
}

.taskC__delete:hover {
  width: 115px;
  height: 20px;
  background: #33bdb3;
  color: white;
  border-radius: 6px;
}

.footer-container {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
}

.footer__text {
  color: #6b7280;
}

.footer__textName {
  color: #3b73ed;
}
